@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;
}

.vertical {
  display:inline-block;
  height: 4px;
  width: 12px;
  margin-top: 22px;
  margin-bottom: 2px;
  transform: rotate(90deg);
}

.title-container > p > .vertical {
  display:inline-block;
  height: 4px;
  width: 8px;
  margin-top: 20px;
  margin-bottom: 0px;
  transform: rotate(90deg);
}

.special > .title-container > p > .vertical {
  display:inline-block;
  height: 4px;
  width: 12px;
  margin-top: 24px;
  margin-bottom: 0px;
  transform: rotate(90deg);
}

a {
  text-decoration: none;
  cursor: pointer;
}


body {
  /* font-size: 20px; */
  font-size: 18px;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
  background: #eeedeb;

  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px 28px;
}

header {
  margin: 0;
  padding: 0;
  height: 280px;
  height: 620px;
}

.sp-logo {
  display: block;
}

.sp-logo > a {
  cursor: pointer;
}

.sp-logo > a > img {
  vertical-align: bottom;
  height: 160px;
  margin-bottom: 60px;
}

.pc-logo {
  display: none;
}

header > .container {
  margin: 0;
  padding: 60px 0;
  text-align: center;
}

.sp-menu img {
  position: absolute;
  position: fixed;
  top: 28px;
  right: 28px;
  z-index: 3;
  width: 60px;
}

.sp-menu #open {
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 120px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 5;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
}

.overlay a {
  text-decoration: none;
  color: inherit;
  pointer: cursor;
}

.overlay nav ul {
  padding: 0 80px;
}

.overlay nav ul li {
  display: block;
  list-style: none;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  /* font-size: 36px; */
  font-size: 32px;
  line-height: 96px;
  display: block;
  text-align: left;
}

.pc-menu {
  display: none;
}

section > .container {
  padding: 20px 28px;
}

/* WEB予約 */

.web-reservation {
  height: 300px;
  height: 340px;
}

.web-reservation > .container {
  margin: 0;
  padding: 0px 28px 20px;
  text-align: center;
}

.web-reservation img {
  height: 200px;
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: center -4px;
  vertical-align: bottom;
}

.reservation-button a {
  text-decoration: none;
  color: #fff;
  width: 352px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #000;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
}


/* 当館について */

.summary {
  height: 548px;
  height: 600px;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}

.summary > .container {
  writing-mode: vertical-rl;
  text-orientation: upright;
  right: 0;
  width: 100%;
  display: flex;
}

.summary > .container > .text {
  height: 288px;
  height: 300px;
  width: 100%;
  width: auto;
  line-height: 1.7;
  margin-bottom: 20px;
  display: block;
}

.summary > .container > .text > h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* font-size: 36px; */
  font-size: 32px;
  /* width: 60px; */
  width: 56px;
  /* line-height: 52px; */
  line-height: 48px;
  background: #fff;
  text-align: center;
  border: solid 4px #000;
  margin-left: 24px;
}

.summary > .container > .img > img {
  height: 200px;
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: 0px -56px;
  vertical-align: bottom;
}


.numbers10orMore {
  text-combine-upright: all;
  -webkit-text-combine: horizonal;
	-ms-text-combine-horizonal: all;

  text-combine-upright: digits 2
  -ms-text-combine-horizontal: digits 2;
  -ms-text-combine-horizontal: digits 2;
}


/* 今月のラインナップ */
.lineup {
  height: 2668px;
  height: calc(2428px + 20px);
}

.lineup > .container {
  display: flex;
  flex-direction: column;
}

.lineup > .container > .lineup-header > h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* font-size: 36px; */
  font-size: 32px;
  /* line-height: 52px; */
  line-height: 48px;
  background: #fff;
  text-align: center;
  border: solid 4px #000;
  height: 60px;
  width: 100%;
  margin-bottom: 16px;
}

.lineup > .container > .lineup-header > h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  background: #ccc;
  height: 56px;
  line-height: 56px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.lineup > .container > .lineup-container-wrapper > .lineup-container {
  writing-mode: vertical-rl;
  text-orientation: upright;
  right: 0;
  height: 360px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.lineup > .container > .lineup-container-wrapper  > .last, .lineup > .container > .lineup-container-wrapper  > .special {
  border-bottom: none;
}

.title-container {
  /* margin-right: 24px; */
  margin-right: 16px;
}

.title {
  font-size: 24px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 4px;
}



.special {
  height: 312px;
}

.special  > h3 {
  /* font-size: 34px; */
  font-size: 32px;
  /* width: 120px; */
  width: 116px;
  color: #fff;
  background: #333;
  /* line-height: 48px; */
  line-height: 44px;
  /* padding-right: 12px; */
  padding-right: 14px;
  padding-top: 22px;
  margin-left: 36px;
}

.special > h4 {
  /* font-size: 30px; */
  font-size: 28px;
  margin-left: 0;
  padding-left: 0;
}

.special > .title-container {
  margin-right: 0;
  padding-right: 0;
  margin-right: 16px;
  /* font-size: 30px; */
  font-size: 28px;
}

.past-lineup-container {
  height: 312px;
  height: calc(328px + 20px);
  margin-top: 0;
  padding-top: 0;
}

.past-lineup-container > .container > .img > img {
  height: 200px;
  height: 240px;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.past-lineup-container > .container > .past-lineup > a {
  display: inline-block;
  text-align: center;
  height: 48px;
  line-height: 44px;
  width: 100%;
  background: #fff;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #000;
  margin-top: 20px;
  font-size: 24px;
}

.long {
  font-size: 22px;
  letter-spacing: -2px;
}


/* 料金 */

.price {
  height: 296px;
  width: 100%;
}

.price > .container {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 100%;
}

.price > .container > h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* font-size: 36px; */
  font-size: 32px;
  /* width: 60px; */
  width: 56px;
  /* line-height: 52px; */
  line-height: 48px;
  background: #fff;
  text-align: center;
  border: solid 4px #000;
  margin-left: 24px;
  height: calc(296px - 40px);
}

.price > .container > .price-detail-container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.price > .container > .price-detail-container > small {
  /* font-size: 18px; */
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  margin-right: 28px;
}


/* アクセス */
.access {
  height: 684px;
}

.access > .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.access > .container > h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* font-size: 36px; */
  font-size: 32px;
  /* line-height: 48px; */
  line-height: 44px;
  background: #fff;
  text-align: center;
  border: solid 4px #000;
  /* height: 60px; */
  height: 56px;
  width: 100%;
  margin-bottom: 16px;
}

.access > .container > .access-detail {
  height: 304px;
  writing-mode: vertical-rl;
  text-orientation: upright;

  -ms-writing-mode: tb-rl;

  margin-right: 0;
  /* font-size: 24px; */
  font-size: 22px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  margin-bottom: 20px;
}

.access-title {
  /* font-size: 20px; */
  font-size: 18px;
  line-height: 33px;
  background: #333;
  color: #fff;
  width: 32px;
  /* height: 100px; */
  height: 92px;
  padding-top: 10px;
  margin-left: 12px;
  margin-left: 8px;

}

.access-text {
    padding-right: 0;
  margin-left: 20px;
}

.access-text > p > .small {
  /* font-size: 18px; */
  font-size: 16px;
}

.access > .container > .access-detail > p {
  display: block;
}

.sns-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sns-icons > a {
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
  background: #333;
  margin-bottom: 20px;
}

.sns-icons > a > i {
  font-size: 36px;
  display: block;
  color: #fff;
  text-align: center;
}

.sns-icons > a:last-child {
  margin-bottom: 0;
}

.access .map {
  width: 100%;
  height: 240px;
}

.access .map iframe {
  width: 100%;
  height: 240px;
  filter: grayscale(100%);
  transition: all 0.7s ease;
}

/* フッター */
footer {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer small {
  font-size: 13px;

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.pastLineup {
  height: calc(2428px + 20px + 68px);
}

.arrow-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-icons > a {
  width: 48px;
  height: 48px;
  background: #000;
  margin-right: 8px;
}

.arrow-icons > a:nth-child(2) {
  margin-right: 0;
  margin-left: 8px;
  visibility: hidden;
}

.arrow-icons > a > i {
  font-size: 32px;
  display: block;
  color: #fff;
  text-align: center;
}

/* @media (min-width: 860px) */
@media (min-width: 950px) {

  body {
    font-size: 20px;
  }

  .container {
    max-width: 860px;
    width: 860px;
    margin: 0 auto;
  }

  .sp-logo {
    display: none;
  }

  .sp-menu {
    display: none;
  }

  header {
    height: 360px;
    height: 760px;
    height: 720px;
    height: 710px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: #eeedeb;

  }

  header > .container {
    margin: 0 auto;
    padding: 80px 0;
  }

  .pc-logo {
    display: block;
  }

  .pc-logo > a > img {
    height: 200px;
    height: 160px;
    vertical-align: bottom;
    margin-bottom: 80px;
  }


  /* .pc-wrapper */
  .web-reservation-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }

  .web-reservation-menu {
    height: 400px;
    height: 390px;
  }

  .web-reservation {
    width: 430px;
    height: 310px;
    height: 320px;
    height: 400px;
    height: 390px;
  }

  .web-reservation > .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .reservation-button a:hover {
    color: #000;
    background: #fff;
    border: 4px solid #000;
    line-height: 52px;
  }

  .pc-menu {
    display: block;
    width: 430px;
    height: 320px;
    height: 400px;
    height: 390px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -ms-writing-mode: tb-rl;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pc-menu > nav > ul > li {
    list-style: none;
    height: 320px;
    height: 328px;
    margin-top: -8px;
    text-align: left;
  }

  .pc-menu > nav > ul > li:hover {
    background: #000;
  }

  .pc-menu > nav > ul > li > a {
    list-style: none;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    font-size: 32px;
    color: #000;
    display: block;
    padding-right: 18px;
    padding-left: 18px;

    padding-right: 12px;
    padding-left: 12px;
    margin-top: 8px;
    height: 320px;
    height: 328px;

  }

  .pc-menu > nav > ul > li > a:hover {
    color: #fff;
  }


  .wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .web-reservation img {
    object-position: 0px 0px;
    object-position: center -4px;
  }

  .summary {
    height: 288px;
    height: 330px;
    height: 360px;
    width: 860px;

    display: flex;
    align-items: center;
    align-items: flex-start;
  }

  .summary > .container {
    padding: 0;
    /* background: #fff; */

    height: 288px;
    height: 330px;
    /* width: 860px; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .summary > .container > .text {
    width: 430px;
    height: 330px;
    padding: 0;
    padding-top: 30px;
    margin: 0;
  }

  .summary > .container > .img {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    width: 430px;
    height: 300px;
    /* background: #ccc; */
    padding: 0;
    padding-top: 30px;
    margin: 0;

  }

  .summary > .container > .img > img {
    /* width: 430px; */
    height: 340px;
    vertical-align: top;
    object-fit: cover;
    object-position: 0px -40px;
  }


  .lineup {
    height: 1296px;
  }

  .lineup > .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .lineup > .container > .lineup-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .lineup > .container > .lineup-header > h1 {
    width: 400px;
    margin-bottom: 36px;
  }

  .lineup > .container > .lineup-header > h2 {
    width: 430px;
    margin-left: 30px;
  }

  .lineup > .container > .lineup-container-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .lineup > .container > .lineup-container-wrapper > .lineup-container {
    width: 430px;
    /* background: #fff; */
    border-left: 1px solid #000;
    border-bottom: none;
    margin-bottom: 30px;
  }

  .lineup > .container > .lineup-container-wrapper > .lineup-container:nth-child(2),
  .lineup > .container > .lineup-container-wrapper > .lineup-container:nth-child(4) {
    border-left: none;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .lineup > .container > .lineup-container-wrapper > .special {
    border-left: none;
    border-bottom: none;
  }

  .past-lineup-price {
    /* background: #fff; */
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    /* margin-top: -1232px; */
    height: 286px;
    height: 316px;
  }

  .past-lineup-container {
    width: 430px;
    height: 286px;
    height: 316px;
    /* background: #fff; */
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0; */
  }

  .past-lineup-container > .container {
    width: 430px;
    margin: 0;
    padding: 30px 0;
    /* background: #fff; */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }


  .past-lineup-container > .container > .img > img {
    height: 188px;
    width: 400px;
    object-fit: cover;
    vertical-align: bottom;
  }

  .past-lineup-container > .container > .past-lineup > a {
    width: 400px;
  }


  .past-lineup-container > .container > .past-lineup > a:hover {
    color: #fff;
    background: #000;
  }

  .price {
    width: 430px;
    height: 286px;
    height: 316px;
  }

  .price > .container {

    padding: 30px 0;
  }


  .access {
    height: 684px;
    height: 364px;
  }

  .access > .container {
    height: 364px;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .access > .container > h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;

    -ms-writing-mode: tb-rl;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    width: 60px;
    line-height: 52px;
    height: 304px;

    border: solid 4px #000;
    margin-left: 24px;
    text-align: center;
    margin-bottom: 0;
  }

  .sns-icons > a:hover {
    background: #fff;
    border: 4px solid #333;
  }

  .sns-icons > a > i:hover {
    color: #333;
    line-height: 44px;
  }

  .access .map {
    width: 372px;
    width: 364px;
    height: 240px;
    height: 304px;
    margin-right: 30px;
    left: 0;
  }

  .access .map iframe {
    width: 372px;
    width: 364px;
    height: 240px;
    height: 304px;
    filter: grayscale(100%);
    transition: all 0.7s ease;
  }


  footer {
    height: 102px;
  }

  footer small {
    margin-bottom: 30px;
  }


  .pastLineup {
    height: calc(1296px + 78px);
  }

  .arrow-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .arrow-icons > a {
    width: 48px;
    height: 48px;
    background: #000;
    margin-right: 8px;
  }

  .arrow-icons > a:nth-child(2) {
    margin-right: 0;
    margin-left: 8px;
    visibility: hidden;
  }

  .arrow-icons > a > i {
    font-size: 32px;
    display: block;
    color: #fff;
    text-align: center;
  }

  .arrow-icons > a:hover {
    background: #fff;
    border: 4px solid #000;
  }

  .arrow-icons > a > i:hover {
    line-height: 40px;
    color: #000;
  }
