@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #666;
}

.vertical {
  display:inline-block;
  height: 4px;
  width: 18px;
  margin-top: 14px;
  margin-bottom: 2px;
  transform: rotate(90deg);
}

html {
  margin: 0;
  padding: 0;
}

:root{
	scroll-behavior: smooth;
}

body {
  font-size: 18px;

  font-family: "Shippori Mincho B1", serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  background: #F2EFE5;

  background-image:
    url(../img/back-left.png),
    url(../img/back-right.png);

  background-position:
    left 0,
    right 0;

  background-repeat:
    repeat-y,
    repeat-y;

  background-size:
    /* 76px; */
    56px;
}

h1 {
  color: #826F66;
}

.container {
  padding: 80px 36px;
}

header {
  margin: 0;
  padding: 0;
  height: 240px;
}

.sp-logo {
  display: block;
}

.sp-logo > img {
  vertical-align: bottom;
  height: 160px;
}

.pc-logo {
  display: none;
}

header > .container {
  margin: 0;
  padding: 40px 0;
}

.sp-menu {
  display: block;
  font-size: 32px;
  position: absolute;
  top: 32px;
  right: 32px;
  position: fixed;
  z-index: 5;
}

.sp-menu-circle {
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px #bbb;
}

.sp-menu img {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  width: 40px;
  width: 60px;
}

.sp-menu #open {
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 120px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 5;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  color: #666;
}

.overlay li {
  margin-top: 36px;
}

.overlay a {
  text-decoration: none;
  color: inherit;
}

.overlay nav ul li {
  display: block;
  list-style: none;
  font-size: 24px;
  line-height: 48px;
}

nav ul li {
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
  font-style: normal;
}

.pc-menu {
  display: none;
}

section > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  letter-spacing: 4px;

  margin-bottom: 36px;
}

.text > h1 {
  font-size: 28px;
  margin-left: 16px;
}

.text > p {
  line-height: 1.8;
}

.image {
  height: 200px;
}

.summary {
  height: 736px;
  height: 776px;
}

.summary > .container > .image > img {
  /* height: 240px; */
  height: 200px;
}

.summary .text {
  height: 340px;
}

.beans {
  height: 2384px;
  /* height: 1664px; */
  height: 2144px;
}

.beans .text {
  height: 408px;
  height: 392px;
  display: flex;
  justify-content: center;
}

.beans small {
  font-size: 14px;
  margin-right: 16px;
}

.beans-detail {
  background: #FBF9F1;
  border-radius: 8px;
  width: 100%;

  height: 1780px;
  /* height: 1060px; */
  height: 1540px;
  padding: 40px;
  margin-bottom: 0;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

 h2 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 8px;
  margin-bottom: 32px;
}

.beans-detail-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.beans-detail-text {
  margin-bottom: 40px;
  height: 360px;
  height: 300px;
}

.beans-detail-text > img {
  height: 240px;
  height: 180px;
  margin-bottom: 20px;
}

.beans-detail-price {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 4px;
  letter-spacing: 2px;
}

.beans-page > .container > .text {
  height: 160px;
}

.beans-page > .container > .text {
  height: 160px;
}

.beans-page > .container > .text > h1 {
  margin: 0;
  padding: 0;
}

.beans-page > .container > .beans-detail {
  height: 4920px;
  height: 4200px;
}

.beans-page {
  height: 5276px;
  height: 4556px;
}

.beans-page > .container > .beans-detail > .beans-detail-container >  .beans-detail-text > img {
  height: 240px;
  height: 180px;
  margin-bottom: 20px;
}


/* 豆について・カフェ共通 */

.read-more {
  display: flex;
  justify-content: center;
}

.read-more > a {
  font-size: 16px;
  text-decoration: none;
  border-bottom: dashed 2px #826F66;
  padding-bottom: 8px;
  letter-spacing: 2px;
}


/* カフェ */

.cafe {
  height: 1212px;
}

.cafe .text {
  /* height: 320px; */
  height: 300px;
  display: flex;
  justify-content: center;
}

.cafe-detail {
  background: #FBF9F1;
  border-radius: 8px;
  width: 100%;

  height: 692px;
  padding: 40px;
  margin-bottom: 0;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.cafe-detail-text {
  height: 100px;

  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cafe-detail-text:last-of-type {
  margin-bottom: 48px;
}

.menu-contents {
  display: flex;
  flex-direction: column;
  text-align: left;

  height: 64px;
}

.menu-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-contents > .menu-name > img {
  width: 20px;
}

.menu-contents {
  display: flex;
  text-align: right;
  width: calc(100% - 100px - 24px);
}

.menu-contents > p {
  margin-top: 8px;
}

.menu-img > img {
  height: 100px;
  vertical-align: bottom;
}


/* カフェページ */
.cafe-page {
 height: 1806px;
}

.cafe-page > .container > .text {
  height: 160px;
  display: flex;
  justify-content: center;
}

.cafe-page > .container > .text > h1 {
  margin: 0;
  padding: 0;
}

.cafe-page > .container > .cafe-detail {
  background: #FBF9F1;
  border-radius: 8px;
  width: 100%;
  height: 1450px;
  padding: 40px;
  margin-bottom: 0;
}

 .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents {
  display: flex;
  text-align: right;
  width: calc(100% - 100px - 24px);
 }

 .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents > .menu-name {
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents > .menu-name > img {
  margin-right: 12px;
}

 .cafe-page > .container > .cafe-detail > .cafe-detail-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text {
   height: 100px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
  }

 .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text:last-of-type {
  margin-bottom: 48px;
  }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-img > img {
     height: 100px;
     vertical-align: bottom;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     border-top: 1px solid #826F66;
     margin-top: 40px;
     padding-top: 60px;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text {
     height: 100px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     width: 100%;
    }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents {
    display: flex;
    text-align: left;
    width: calc(100% - 100px - 24px);
  }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents > .menu-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents > p {
    text-align: right;
  }


/* アクセス */

.access .text {
  height: 360px;
  display: flex;
  justify-content: center;
}

.access .map {
  /* height: 360px; */
  height: 280px;
}

.access .map iframe {
  /* height: 360px; */
  height: 280px;
  width: 100%;
  border-radius: 8px;
  filter:grayscale(50%);-webkit-filter:grayscale(50%);
}

footer {
  height: 200px;
}

footer > .container {
  height: 200px;
  padding: 80px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sns-icons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sns-icons > a {
  color: #fff;
  background: #826F66;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.sns-icons > a:last-child {
  margin-right: 0;
}

.sns-icons > a > i {
  position: relative;
  top: -2px;
  font-size: 36px;
  color: #fff;
}

small {
  font-size: 12px;
}

/* @media (min-width: 860px) */
@media (min-width: 950px) {
  .container {
    max-width: 860px;
    width: 860px;
    margin: 0 auto;
    padding: 80px 80px;
  }

  :root{
    /* scroll-padding: 500px; */
  }

  .sp-logo {
    display: none;
  }

  .vertical {
    display:inline-block;
    height: 4px;
    width: 22px;
    margin-top: 14px;
    margin-bottom: 2px;
    transform: rotate(90deg);
  }

  body {
    background-image:
      url(../img/back-left.png),
      url(../img/back-right.png);

    background-position:
      left 0,
      right 0;

    background-repeat:
      repeat-y,
      repeat-y;

    background-size:
      80px;
  }

  header {
    height: 500px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  header > .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 720px;
    padding: 0;
  }

  section:first-of-type {
    /* margin-top: 500px; */
  }

  .pc-logo {
    display: block;
    background: #F2EFE5;
    padding: 60px 0;
    margin-top: 0;
  }

  .pc-logo > img {
    vertical-align: bottom;
  }

  .pc-menu {
    display: block;
  }

  .pc-menu > nav {
    padding-bottom: 28px;
    background: #F2EFE5;
  }

  .pc-menu > nav > ul {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
  }

  .header-line > img {
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 720px;
  }

  .pc-menu > nav > ul > li {
    list-style: none;
    margin-right: 24px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 116px;
    position: relative;
  }

  .pc-menu > nav > ul > li:last-child {
    list-style: none;
    margin-right: 0;
  }

  .pc-menu > nav > ul > li > a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .pc-menu > nav > ul > li > a > img {
    padding: 0;
    margin: 0;
    display: block;
    vertical-align: bottom;
    width: 116px;
    position: relative;
  }

  .pc-menu > nav > ul > li > a > p {
    position: relative;
    right: -50%;
    transform: translate(50%, 0%);
    font-size: 18px;
    color: #fff;
  }

  _::-webkit-full-page-media, _:future, :root .pc-menu > nav > ul > li > a > p {
    position: relative;
    right: -50%;
    transform: translate(50%, 0%);
  }

  .sp-menu {
    display: none;
  }

  section > .container {
    display: flex;
    flex-direction: row;
  }

  .text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 340px;
    margin-bottom: 0;
  }

  .text > h1 {
    font-size: 28px;
    margin-left: 20px;
  }

  .text > p {
    line-height: 2;
  }

  .image {
    margin-top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 340px;
  }

  .summary {
    height: 500px;
  }

  .summary > .image {
    /* height: 240px; */
    height: 200px;
  }

  .summary > .container {
    flex-direction: row-reverse;
  }

  .beans {
    height: 1252px;
    height: 1132px;
  }

  .beans > .container {
    flex-direction: row;
  }

  .beans .text {
    width: 172px;
    height: 984px;
    margin-right: 32px;
  }

  .beans .beans-detail {
    width: calc(100% - 172px - 32px);
    height: 1092px;
    height: 972px;
    padding: 60px 40px;
  }

  h2 {
  margin-bottom: 0;
  padding-bottom: 40px;
  }

  .beans-detail-text {
    margin-top: 18px;
    /* margin-top: 52px; */
    margin-bottom: 40px;

    height: 360px;
    height: 300px;
  }

  /* .beans-detail-text:nth-of-type(1),
  .beans-detail-text:nth-of-type(2),
  .beans-detail-text:nth-of-type(3) {
    margin-top: 18px;
  } */

  .beans-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  .beans-detail-price {
    width: 160px;
  }

  .read-more > a {
    margin-top: 20px;
  }

  .beans-page > .container > .text {
    height: 160px;
    width: 32px;
  }

  .beans-page > .container > .beans-detail {
    width: calc(100% - 32px - 32px);
    height: 1652px;
    height: 1572px;
    padding: 60px 40px;
  }

  .beans-page {
    height: 1812px;
    height: 1732px;
  }

  .beans-page > .container > .beans-detail > .beans-detail-container >  .beans-detail-text {
    margin-bottom: 0px;
  }

  .beans-page > .container > .beans-detail > .beans-detail-container >  .beans-detail-text > img {
    height: 200px;
    height: 180px;
  }

  .beans-page > .container > .beans-detail > .beans-detail-container >  .beans-detail-text > .beans-detail-price {
    width: 152px;
  }


  .beans-page > .container > .beans-detail > .beans-detail-container > .beans-detail-text {
    /* margin-top: 18px; */
    margin-top: 52px;
    /* margin-bottom: 40px; */

    /* height: 360px; */
    height: 300px;
  }

  .beans-page > .container > .beans-detail > .beans-detail-container > .beans-detail-text:nth-of-type(1),
  .beans-page > .container > .beans-detail > .beans-detail-container > .beans-detail-text:nth-of-type(2),
  .beans-page > .container > .beans-detail > .beans-detail-container > .beans-detail-text:nth-of-type(3) {
    margin-top: 18px;
  }



/* カフェ */

  .cafe {
    height: 1080px;
  }

  .cafe > .container {
    flex-direction: row-reverse;
  }

  .cafe .text {
    width: 132px;
    height: 480px;
    margin-right: 0;
    margin-left: 32px;
  }

  .cafe .cafe-detail {
    width: calc(100% - 132px - 32px);
    height: 920px;
    padding: 60px 40px;
  }

  .menu-contents {
    width: calc(100% - 140px - 20px);
    text-align: right;
  }

  .menu-name {
    justify-content: flex-start;
  }

  .cafe-detail-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
  }

  .menu-img > img {
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 140px;
  }


  /* カフェページ */

  .cafe-page {
   height: 1820px;
   }

  .cafe-page > .container > .text {
    height: 160px;
    width: 32px;
  }

  .cafe-page > .container > .text > h1 {
    margin: 0;
    padding: 0;
  }

  .cafe-page > .container > .cafe-detail {
    width: calc(100% - 32px - 32px);
    height: 1660px;
    padding: 60px 36px;
  }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents {
     text-align: left;
     width: 100%;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents > .menu-name {
     justify-content: flex-start;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-contents > p {
     text-align: right;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 240px;
     width: calc(100% / 2 - 10px);
     width: calc(100% / 2 - 40px);
     margin-bottom: 40px;
  }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .cafe-detail-text > .menu-img > img {
     vertical-align: top;
     margin: 0;
     padding: 0;
     width: 140px;
     height: 140px;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     border-top: 1px solid #826F66;
     margin-top: 40px;
     padding-top: 60px;
   }

   .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 240px;
     width: calc(100% / 2 - 10px);
     width: calc(100% / 2 - 40px);
     margin-bottom: 40px;
    }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents {
    text-align: left;
    width: 100%;
  }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents > .menu-name {
    justify-content: flex-start;
  }

  .cafe-page > .container > .cafe-detail > .cafe-detail-container > .sub-menu-text > .cafe-detail-text > .menu-contents > p {
    text-align: right;
  }


  /* アクセス */

  .access > .container {
    flex-direction: row;
  }

  .access .text {
    height: 360px;
    width: 172px;
    margin-right: 32px;
  }

  .access .map {
    width: calc(100% - 172px - 32px);
  }

  .access .map iframe {
    height: 360px;
  }

  .sns-icons > a {
    margin-right: 32px;
  }

  .sns-icons > a:last-child {
    margin-right: 0;
  }
}
